.service{
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    padding-bottom: 30px;
   
    background-color: rgb(205, 219, 224);
    h3 {
    
            border-bottom: 2px solid red;
        
       
    }
    
}