header{
    height: 50px;
    background: red;
    display: flex;
    /* flex-direction: row; */
    position: relative;
   
    align-items: center;
  }
  .menu{
    position: absolute;
    right: 10%; 
    display: flex;
    
  }
  .menu a{
      text-decoration: none;
      color: white;
      margin: 5px;
  }
  .menu a:hover{
      cursor: pointer;
      color: black;
     
  }
  
  .nav-btn{
      margin-left: 5px;
      width: 30px;
      height: 25px;
      background-color: rgb(22, 5, 7);
      color: white;
      border: 0%;
      display: none;
  }